  <header class="main-header">
      <ul class="nav-links">
        <li class="nav-link">
          <a href="/">Home</a>
        </li>
        <li class="nav-link">
          <a href="/about">About</a>
        </li>
        
        <% if(user) { %>
        <li class="nav-link">
          <a href="/favorites"><%- 'favorites' %></a>
        </li>
      
      <p><a href="users/logout"><%- 'logout?' %></a></p>
        <% }else{ %>
          </ul>
          <p>
          <a href="/users/login"><%- 'login' %>
          </a>
          /
          <a href="/users/signup"><%- 'Sign Up' %>p</a>
        </p>
        <% } %>
    </header>