  <header class="main-header">
      <div class="logo">
        <a href="#"></a>
      </div>

      <input type="checkbox" class="menu-btn" id="menu-btn">
      <label for="menu-btn" class="menu-icon">
        <span class="menu-icon-line">HeyMundo!</span>
      </label>

      <ul class="nav-links">
        <li class="nav-link">
          <a href="/">Home</a>
        </li>
        <li class="nav-link">
          <a href="/archived">Joke Archive</a>
        </li>
        <li class="nav-link">
          <a href="/favorites">Favorites</a>
        </li>
        <li class="nav-link">
          <a href="/about">About</a>
        </li>
      </ul>
    </header>