<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>


<div class="container">
   <main>
   <div class="row">
      <div class="col-sm-8">
         <div class="jumbotron">
               <h1>stays on top</h1>
               <p></p>
         </div>
      </div>

      <div class="col-sm-4">
         <div class="well">
               <h3>Lorem ipsum dolor sit amet, aliquam urbanitas ne nam. Te essent oportere reprimique duo. Eirmod aliquid ad eos, graeci scribentur mea ne, usu probatus singulis at. Illum pertinax eum cu, te eos omnium explicari, nam ne illud reprimique. Mei an erat electram similique, id vitae quodsi option sea, malis soleat sit eu. Qui munere audiam cu, et scribentur referrentur has, sint salutatus mei cu.

At mazim fabulas lucilius quo, per at nibh probatus. Erat quaerendum no eum, nibh numquam ea eum. Mel et alii habeo. Laudem primis dictas ei sit, eu vim accusamus eloquentiam. Te vel quas delectus, mea te ubique accumsan, sed no posidonium concludaturque.

Quo et falli molestiae hendrerit, regione ceteros partiendo eu vix. Ut his reque euripidis intellegebat. Te ubique alterum temporibus mei. Regione splendide nam ei, eos at amet numquam imperdiet.

Omittam eligendi partiendo cu qui, an elit integre usu, has nostrum repudiandae ex. Ex malis officiis phaedrum has. Homero menandri mel et, id mei integre deseruisse. Cu quo partem menandri partiendo, sed no iudico facete, oblique meliore comprehensam vim ut.

Et accusam salutatus corrumpit pri. Ad labitur fuisset abhorreant his, prima aperiam ancillae mea ei. Pro quidam docendi percipitur cu, eu quod iriure his. Eos id fierent efficiantur intellegebat, an nulla fuisset eam. Ut qui sumo nemore ancillae, ei dolor tritani intellegebat usu, ei sumo sapientem vix. Id putent mnesarchum definiebas pri.</h3>
         </div>
      </div>

   </div>
   </main>
</div>


<footer>
  
</footer>

</body>
</html>