<div class="container">
   <main>
      <div class=>
         <div class="jumbotron">
            <h1 class="title"> <strong>Dumb Jokes</strong></h1>
            <h1 class="title1">For<br><em>Smart People</em></h1>
            <h3>just for the LOL's</h3>
         </div>
      </div>
      <div class="jokeBox">



         <div id="square">
            <div id="circle">
            <div id="inner-circle">
            <h1  id="greet" >Today's Joke...<hr></h1>
               <h2 class="joke">
                  Programming is 10% science, 20% ingenuity, and 70% getting the ingenuity to work with the science.
               </h2>
               <h2 class="j-buttons">
                 <em>SAVE </em> to favorites
               </h2>
               <h2 class="j-buttons">
                  rate
               </h2>
            </div>
            </div>
         </div>




      </div>
   </main>
</div>