<div class="container">
   <main>
      <div class=>
         <div class="jumbotron">
            <h1 class="title"> <strong>Dumb Jokes</strong></h1>
            <h1 class="title1">For<br><em>Smart People</em></h1>
            <h3>just for the LOL's</h3>
         </div>
      </div>
      <h1>
      </h1>
      <div class="jokeBox">
         <div id="square">
            <div id="circle">
            <div id="inner-circle">
            <h1  id="greet" >A Dumb Joke...<hr></h1>
               <h2 class="joke">
                  <%= display.joke %>
               </h2>


               <form method="POST" action="/favorites">
                  <input type="hidden" name="joke" value="<%= display.joke %>" >
                  <input type="submit" value="save">
                  <h2 class="j-buttons">
                     rate
                  </h2>
               </form>


            </div>
            </div>
         </div>
      </div>
   </main>
</div>